.header {
  height: 200px;
  display: flex;
  align-items: center;
  background-color: var(--primary);
  color: #fff;

  & > .logo {
    margin: 0 20px;
    height: 120px;
    width: 120px;
  }
}

.content {
  & > .test {
    height: 1000px;
  }
}
