.header {
  height: 100px;
  background-color: var(--primary);
  color: #fff;

  & > .container {
    display: flex;
    align-items: center;

    & > .title {
      height: 50px;
      position: relative;
      display: inline-block;
      width: 100%;

      & > .solid {
        font-family: 'PokemonSolid';
        color: #fdc81a;
        position: absolute;
        left: 0;
      }

      & > .hollow {
        font-family: 'PokemonHollow';
        color: #4d5995;
        position: absolute;
        left: 0;
        font-weight: 700;
      }
    }
  }
}

.content {
  & > .test {
    height: 1000px;
  }
}
