.header {
  height: 150px;
  background-color: var(--primary);
  color: #fff;

  & > .container {
    display: flex;
    align-items: center;

    & > .logo {
      margin-right: 10px;
      height: 110px;
      width: 110px;
    }
  }
}

.content {
  & > .test {
    height: 1000px;
  }
}
