<app-page title="Pokemons list">
  <div *ngIf="!(loading$ | async); else loading">
    <app-pokemon-list
      [pokemons$]="pokemons$"
      (pokemonClick)="handlePokemonClick($event)"
    ></app-pokemon-list>
    <ngb-pagination
      *ngIf="(count$ | async) as count"
      [collectionSize]="count"
      [page]="page$ | async"
      (pageChange)="setPage($event)"
      [maxSize]="10"
      [boundaryLinks]="true"
      [ellipses]="false"
    ></ngb-pagination>
  </div>
  <ng-template #loading>Loading pokemons...</ng-template>
</app-page>
