/* You can add global styles to this file, and also import other style files */
$primary: #ef5350;

@import 'node_modules/bootstrap/scss/bootstrap.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --primary: #{$primary};
}
